<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br />
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Capacity</th>
            <th>duration</th>
            <th>name</th>
            <th>start_date</th>
            <th>Employee</th>
            <th> Project</th>
            <th>Create New Assignment</th>
        </tr>
  </thead>
  <tbody>
<tr ng-class="assignment">
     <td> <label>
        <input [(ngModel)]="assignment.capacity" placeholder="capacity"/>
      </label></td>
    <td>
      <label>
          <input [(ngModel)]="assignment.duration" placeholder="duration"/>
        </label>
      </td>
        <td>
        <label>
                <input [(ngModel)]="assignment.name" placeholder="name"/>
              </label>
            </td>
          <td>
        <label>
            <input [(ngModel)]="assignment.start_date" placeholder="start_date"/>
          </label>
        </td>
      <td>
        <label>
                <input [(ngModel)]="assignment.employee" placeholder="employee"/>
              </label>
            </td>
          <td>
              <label>
                <input [(ngModel)]="assignment.project" placeholder="project"/>
              </label>
            </td>
          <td>
    <button (click)="add(assignment)">add</button>
  </td>
</tr>
</tbody>
</table>
</div></div>
<br /> <br />

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Capacity</th>
            <th>duration</th>
            <th>name</th>
            <th>start_date</th>
            <th>Employee</th>
            <th> Project</th>
            <th>Create New Assignment</th>
        </tr>
  </thead>
  <tbody>

    <tr *ngFor="let assignment of assignments">
     <td> <a routerLink="/assignmentDetail/{{assignment.id}}">
        <span class="badge">{{assignment.id}}</span>  
      </a> </td>
      <td> {{assignment.capacity}} </td>
    <td>{{assignment.duration}}</td> 
  <td> {{assignment.name}}</td> 
<td> {{assignment.start_date}} </td>
<td></td>
<td></td>
<td><button class="delete" title="delete assignment"
  (click)="delete(assignment)">delete</button></td>
    </tr>
  </tbody>
</table>
</div></div>
<br /> <br />