<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
<div *ngIf="employee">
    <h2>{{employee.name | uppercase}} Details</h2>
    <div><span>id: </span>{{employee.empID}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="employee.name" placeholder="name"/>
      </label>
      <br />
      <label>email:
          <input [(ngModel)]="employee.email" placeholder="email"/>
        </label>
        <br />
        <label>status:
            <input [(ngModel)]="employee.status" placeholder="status"/>
          </label>
          <br />
          <!-- <label>password:
            <input [(ngModel)]="employee.password" placeholder="password"/>
          </label> -->
          <td>
       <b> Employee Type : </b> 
            <select class="form-control" [(ngModel)]="employee.empType">
                <option style="display:none" value="">Choose an option</option>
                <option  [value]="0">0</option>
                <option  [value]="1">1</option>
              </select>
              
              </td>
    </div>
    <button (click)="save()">save</button>
  </div>