<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
<div *ngIf="assignment">
  <h2>{{assignment.name | uppercase}} Details</h2>
  <div><span><b>id:</b> </span>{{assignment.id}}</div>
  <div>
    <label>capacity
      <input [(ngModel)]="assignment.capacity" placeholder="capacity"/>
    </label>
    <br />
    <label>duration:
        <input [(ngModel)]="assignment.duration" placeholder="duration"/>
      </label>
      <br />
      <label>name:
              <input [(ngModel)]="assignment.name" placeholder="name"/>
            </label>
            <br />
      <label>startDate:
          <input [(ngModel)]="assignment.startDate" placeholder="startDate"/>
        </label>
        <br />
        <td>
          
            <select class="form-control" [(ngModel)]="assignment.employee.empID">
                <option style="display:none" value="">Choose an employee</option>
                <option *ngFor="let employee of employees" [value]="employee.empID">{{employee.empID}}</option>
              </select>
              
              </td>
            <td>
             
            <select class="form-control" [(ngModel)]="assignment.project.id">
                <option style="display:none" value="">Choose a project</option>
                <option *ngFor="let project of projects" [value]="project.id">{{project.id}}</option>
              </select>
              </td>
  </div>
  <button (click)="save()">save</button>
</div>