<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br />
<table border=1>
  <thead>
    Create New Project
  </thead>
  <tbody>
<div ng-class="project">
          <label>client:
            <input [(ngModel)]="project.client" placeholder="client"/>
          </label>
          <br />
          <label>maxCapacity:
              <input [(ngModel)]="project.maxCapacity" placeholder="maxCapacity"/>
            </label>
            <br />
            <label>pname:
                    <input [(ngModel)]="project.pname" placeholder="pname"/>
                  </label>
                  <br />
            <label>status:
                <input [(ngModel)]="project.status" placeholder="status"/>
              </label>
       <br />
        <button (click)="add(project)">add</button>
      </div>
    </tbody>
  </table>
  <br /> <br />
  <table border=3>
<ul class="projects">
    <li *ngFor="let project of projects">
      <a routerLink="/projectDetail/{{project.id}}">
        <span class="badge">{{project.id}}</span> {{project.client}} 
      </a> --
      {{project.maxCapacity}} -- {{project.pname}} --{{project.status}}
      <button class="delete" title="delete project"
  (click)="delete(project)">delete</button>
    </li>
  </ul>
</table>

<br /> <br />