<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br />
<table border=1>
  <thead>Create New Employee</thead>
  <tbody>
<div ng-class="employee">
        <label>name:
          <input [(ngModel)]="employee.name" placeholder="name"/>
        </label>
        <br />
        <label>email:
            <input [(ngModel)]="employee.email" placeholder="email"/>
          </label>
          <br />
          <label>status:
              <input [(ngModel)]="employee.status" placeholder="status"/>
            </label>
      <br />
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(employee)">
      add
    </button>
  </div>
</tbody>
</table>
<br /> <br />

<table border=3><tbody>
<ul class="employees">
    <li *ngFor="let employee of employees">
      <a routerLink="/employeeDetail/{{employee.id}}">
        <span class="badge">{{employee.id}}</span> {{employee.name}} 
      </a> --
      {{employee.email}} -- {{employee.status}} 
      <button class="delete" title="delete employee"
  (click)="delete(employee)">delete</button>
    </li>
  </ul>
</tbody>
</table>
<br /> <br />